// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// imported in the head

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
	background-color: #171718;
}

ul {
	padding: 0;
}

.gray {
  color: $gray;
}

a {
  text-decoration: none !important;
  transition: all 0.3s;
  color: white;
  // opacity: 0.8;

}

a:hover {
  color: white;
  opacity: 0.6;

}

.red-underline {
  background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(to right,  rgba(131,58,180,1) 0%, rgba(253,45,29,1) 64%, rgba(252,176,69,1));
  background-repeat: no-repeat;
  background-position: 120%, 122%, 7px 80%;
  background-size: 86% 2px;
  transition: all 0.3s;

}

.red-underline:hover {
  background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(to left,  rgba(131,58,180,1) 0%, rgba(253,45,29,1) 64%, rgba(252,176,69,1));

}

.active {
  background-position: center;
  background-size: 100% 100%;
  border-radius: 4px;
  color: white;
}