<div class="row justify-content-center banner">
<div class="d-flex">
	<img src="images/profile.jpg" class="profile" alt="profile-illustration">
  <div class="d-flex flex-column justify-content-center h-100">
    <h1 class="title-main text-white">Hi, I am Mengrui Song.</h1>
    <p class="text-white">I code, illustrate, and practice yoga.</p>
  </div>
	</div>
</div>
