<div class="row banner">
  <div class="d-flex justify-content-center">
    <img src="images/profile.png" class="profile" alt="profile-illustration">
    <div class="d-flex flex-column justify-content-center h-100">
      <h6 class="text-white">Code, Illustrate, and Yoga.</h6>
    </div>
  </div>
</div>
