<div class="container">
<h1 class="white-title">MY BLOGS</h1>
<p>
<%= link_to 'How to build a simple django restapi app in 10 min',  "https://www.notion.so/django-api-2cf1ec8fe36e47a4a8f8436f86c1a7c6", class: "text-white"%>
</p>
<p>
<%= link_to 'Python Basics',  "https://www.notion.so/Python-36f532ce83e9485ebe45578c26119287", class: "text-white"%>
</p>
</div>
