<div id="projects">
  <h1 class="projects-title"> - Works</h1>
  <div class="d-flex">
    <div class="project-image">
    </div>
    <div class="project-list">
      <ul>
        <% data.projects.each do |project|%>
          <li class="project"><%= project.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= javascript_include_tag "show-project" %>
