<div id="projects">
  <div class="d-flex project-container">
    <div class="project-image">
    </div>
    <div class="project-list">
      <h3 class="projects-title gradient-title"> - Projects</h3>
        <% data.projects.each do |project|%>
          <h3 class="project"><%= project.name %></h3>
        <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "show-project" %>
