.about {
  padding-top: 48px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.greeting {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 160px;
  height: 160px;
  object-fit: contain;
  object-position: 50% 37%;
  opacity: 80%;
  border-radius: 50%;
}

.self-intro {
  width: 80%;
}
.white-title {
  color: white;
  opacity: .8;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  margin-bottom: 48px;
}

.right-corner {
  position: absolute;
  top: 0;
  right: 5%;
}

.text-white strong {
  transition: 0.8s; /* Add smooth transition for the color change */
}

#my-position:hover {
  font-size: 36px;
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#my-name:hover {
  font-size: 36px;
  background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,45,29,1) 64%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#cumin {
  transition: font-size 0.4s ease;
}
#cumin:hover {
  font-size: 32px;
}
#cumin:hover:after{
  content: "🐈";
  font-size: 32px;
}

#tokyo {
  transition: font-size 0.4s ease;
}
#tokyo:hover {
  font-size: 32px;
}
#tokyo:hover:after{
  content: "🗼";
  font-size: 32px;
  // add transition
  transition: all 0.4s ease;
}