#projects {
	background-color: white;
	padding-top: 48px;
}

.projects-title {
	// color: white;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 48px;
	margin-bottom: 48px;
}
