.my-link {
  text-decoration: underline dotted white;
}

.text-white {
  color: white;
  opacity: .8;
}

body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: Chivo;
}
p {
  opacity: .7;
}
