.my-link {
  text-decoration: underline dotted white;
}

.gradient-title {
  background: -webkit-linear-gradient(#ffffff, #656565);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}