<div class="container">
<h1 class="white-title">MY BLOGS</h1>
<%= link_to 'How to build a simple django restapi app in 10 min',  "https://www.notion.so/django-api-2cf1ec8fe36e47a4a8f8436f86c1a7c6", class: "text-white"%>
</div>
