<div>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects_new' %>
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
</div>
